<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet">

     <!-- font awsome -->
     <script src="https://use.fontawesome.com/b197abb434.js"></script>

    <title>DigiBuddies</title>
  </head>
  <body>

    <!-- header css start here -->
    <header>
      <div class="headerNavbar">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light header_navbar">
              <a class="navbar-brand" href="#"><img src="image/logo.png" alt="Headerlogo" class="headerLogo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Browse Jobs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Add Resume</a>
                  </li>
                </ul>
                 <ul class="navbar-nav mr-auto mb-2 mb-lg-0 login_sign">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                  </li>
                </ul>
                <form class="d-flex PostJob_outer">
                  <a href="#" class="btn post_job_btn" type="submit">Post a job</a>
                </form>
              </div> 
          </nav>
        </div>
      </div>
    </header>
    <!-- header css close here -->

    <!----Banner Section----->
    <section class="banner_section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Find the right job</h2>
              <p>Find the latest jobs available in your area.</p>   
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="form-group has-search">
                  <i class="fa-solid fa-location-dot"></i>
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="bannerForm_btn">
                    <button><i class="fa fa-search" aria-hidden="true"></i>FIND JOBS</button>
                  </div>
                </div>
                <div class="uploadCv">
                  <p><i class="fa fa-file-o" aria-hidden="true"></i>Upload your CV and easily apply to jobs from any device!</p>
                </div>
            </div>
          </div>
        </div>
      </section>
    <!----Banner Section----->

    <!-- featured start here -->
    <section>
      <div class="featuredOuter">
        <div class="container">
          <div class="featuredOuter_div">
            <div class="companiesOuter">
              <div class="companiesLeftsec">
                <h2>FEATURED <span>COMPANIES</span></h2>
              </div>
              <div class="companiesrightsec">
                <p>SEE ALL COMPANIES<i class="fa fa-bars" aria-hidden="true"></i></p>
              </div>
            </div>
            <div class="row featureRow_outer">
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img feature_img1">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
            </div>
            <div class="row featureRow_outer1">
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
              <div class="col-md-2">
                <div class="feature_img feature_img1">
                  <img src="" alt="img">
                  <h6>Jobs at <span>Bluth Company</span> (64)</h6>
                </div>
              </div>
            </div>
          </div>

          
          <div class="latestJob"> 
            
            <div class="row">
              <div class="col-md-8">
                <div class="latestJob_leftSec">
                  <div class="companiesOuter latestJobs">
                    <div class="companiesLeftsec">
                      <h2>LATEST<span>JOBS</span></h2>
                    </div>
                    <div class="companiesrightsec">
                      <p>VIEW MORE<i class="fa fa-bars" aria-hidden="true"></i></p>
                    </div>
                  </div>
  
                  <div class="latestJob_list">
  
                    <div class="latestJob_listImg">
                      <img src="" alt="Company logo">
                    </div>
                    <div class="latestJob_listhdding">
                      <h5>CO Engineering</h5>
                      <h2>Front-end Developer</h2>
                      <div class="adderessOuter">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>  New York, NY</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>Full-time</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> $50000 - $81000 a year</p>
                      </div>
                      <p class="WebTester">A Web Tester / Developer with experience in PHP, HTML, CSS and JavaScript is needed to jion a global music services company.</p>
                      <div class="SaveJob">
                        <p><i class="fa fa-star-o" aria-hidden="true"></i> Save Job</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>Email Job</p>
                      </div>
                    </div>
  
                  </div>
  
                  <div class="latestJob_list">
  
                    <div class="latestJob_listImg">
                      <img src="" alt="Company logo">
                    </div>
                    <div class="latestJob_listhdding">
                      <h5>XIAO Co.</h5>
                      <h2>UI/UX Front-End Web Developer</h2>
                      <div class="adderessOuter">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>  New York, NY</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>Full-time</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> $50000 - $81000 a year</p>
                      </div>
                      <p class="WebTester">A Web Tester / Developer with experience in PHP, HTML, CSS and JavaScript is needed to jion a global music services company.</p>
                      <div class="SaveJob">
                        <p><i class="fa fa-star-o" aria-hidden="true"></i> Save Job</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>Email Job</p>
                      </div>
                    </div>
  
                  </div>
  
                  <div class="latestJob_list">
                    <div class="latestJob_listImg">
                      <img src="" alt="Company logo">
                    </div>
                    <div class="latestJob_listhdding">
                      <h5>Thatherton Fuels</h5>
                      <h2>Javascript Developer</h2>
                      <div class="adderessOuter">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>  New York, NY</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>Full-time</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> $50000 - $81000 a year</p>
                      </div>
                      <p class="WebTester">A Web Tester / Developer with experience in PHP, HTML, CSS and JavaScript is needed to jion a global music services company.</p>
                      <div class="SaveJob">
                        <p><i class="fa fa-star-o" aria-hidden="true"></i> Save Job</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>Email Job</p>
                      </div>
                    </div>
  
                  </div>
  
                  <div class="latestJob_list">
                    <div class="latestJob_listImg">
                      <img src="" alt="Company logo">
                    </div>
                    <div class="latestJob_listhdding">
                      <h5>Praxis corporation</h5>
                      <h2>Web Developer Jr. - Front End</h2>
                      <div class="adderessOuter">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>  New York, NY</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>Full-time</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> $50000 - $81000 a year</p>
                      </div>
                      <p class="WebTester">A Web Tester / Developer with experience in PHP, HTML, CSS and JavaScript is needed to jion a global music services company.</p>
                      <div class="SaveJob">
                        <p><i class="fa fa-star-o" aria-hidden="true"></i> Save Job</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>Email Job</p>
                      </div>
                    </div> 
                  </div>

                  <div class="latestJob_list">
                    <div class="latestJob_listImg">
                      <img src="" alt="Company logo">
                    </div>
                    <div class="latestJob_listhdding">
                      <h5>Blut Company</h5>
                      <h2>Ui/Web Developer</h2>
                      <div class="adderessOuter">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>  New York, NY</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>Full-time</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> $50000 - $81000 a year</p>
                      </div>
                      <p class="WebTester">Delivering a complete front end application. We are looking for an AngularJS/Web Developer responsible for the client side of our servoce...</p>
                      <div class="SaveJob">
                        <p><i class="fa fa-star-o" aria-hidden="true"></i> Save Job</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>Email Job</p>
                      </div>
                    </div> 
                  </div>

                  <div class="latestJob_list">
                    <div class="latestJob_listImg">
                      <img src="" alt="Company logo">
                    </div>
                    <div class="latestJob_listhdding">
                      <h5>Data Systems Ltd.</h5>
                      <h2>Full Stack Engineer, International</h2>
                      <div class="adderessOuter">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Mountain View, OR</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>Full-time</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> $30000 - $51000 a year</p>
                      </div>
                      <p class="WebTester">A Web Tester / Developer with experience in PHP, HTML, CSS and JavaScript is needed to jion a global music services company.</p>
                      <div class="SaveJob">
                        <p><i class="fa fa-star-o" aria-hidden="true"></i> Save Job</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>Email Job</p>
                      </div>
                    </div> 
                  </div>

                  <div class="latestJob_list">
                    <div class="latestJob_listImg">
                      <img src="" alt="Company logo">
                    </div>
                    <div class="latestJob_listhdding">
                      <h5>Videlectrix Ltd.</h5>
                      <h2>Java Engineet</h2>
                      <div class="adderessOuter">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>Full-time</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> $30000 - $51000 a year</p>
                      </div>
                      <p class="WebTester">A Web Tester / Developer with experience in PHP, HTML, CSS and JavaScript is needed to jion a global music services company.</p>
                      <div class="SaveJob">
                        <p><i class="fa fa-star-o" aria-hidden="true"></i> Save Job</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>Email Job</p>
                      </div>
                    </div> 
                  </div> 

                  <div class="jobList_btn">
                    <a href="#">VIEW ALL JOBS</a>
                  </div>
  
                </div>
              </div>
              <div class="col-md-4">
                <div class="tvOuter">
                  <img src="" alt="tv">
                </div>
  
                <div class="jobCategories">
                  <h4>TOP JOB CATEGORIES</h4>
  
                <div class="jobCategories_tittle">
                  <p>Engineering jobs 12,578</p>
                  <p>Estate Agency jobs 4,546</p>
                  <p>Financial Services jobs 9,115</p>
                  <p>Banking jobs 1,468</p>
                  <p>Security & Safety jobs 723</p>
                  <p>Graduate jobs 18,514</p>
                  <p>Health & Medicine jobs 10,621</p>
                  <p>Training jobs 651</p>
                  <p>Hospitalt & Cateringy jobs 7,585</p>
                  <p>Human Resources jobs 3,768</p>
                  <p>IT & Telecoms jobs 17, 242</p>
                  <p>IT Contractor jobs 2,102</p>
                </div>
  
                </div>
              </div>
            </div> 
          </div>

          <div class="jbLocation_outer1">
            <div class="jbLocation_outer">
              <ul>
                <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>TOP JOB LOCATIONS</a></li>
                <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>TOP JOB TITLES</a></li>
                <li><a href="#"><i class="fa fa-building" aria-hidden="true"></i>TOP COMPANIES</a></li>
              </ul>
            </div>
            <div class="row jobList"> 
              <div class="col-md-3 jobListItem">
                <ul>
                  <li><a href="#">Atlanta</a></li>
                  <li><a href="#">Dallas</a></li>
                  <li><a href="#">New York</a></li>
                  <li><a href="#">Santa Ana/Anaheim</a></li>
                  <li><a href="#">Wichta</a></li>
                  <li><a href="#">Anchorage</a></li>
                  <li><a href="#">Miami</a></li>
                  <li><a href="#">Los Angeles</a></li>
                </ul>
              </div>
  
              <div class="col-md-3 jobListItem">
                <ul>
                  <li><a href="#">Atlanta</a></li>
                  <li><a href="#">Dallas</a></li>
                  <li><a href="#">New York</a></li>
                  <li><a href="#">Santa Ana/Anaheim</a></li>
                  <li><a href="#">Wichta</a></li>
                  <li><a href="#">Anchorage</a></li>
                  <li><a href="#">Miami</a></li>
                  <li><a href="#">Los Angeles</a></li>
                </ul>
              </div>
  
              <div class="col-md-3 jobListItem">
                <ul>
                  <li><a href="#">Atlanta</a></li>
                  <li><a href="#">Dallas</a></li>
                  <li><a href="#">New York</a></li>
                  <li><a href="#">Santa Ana/Anaheim</a></li>
                  <li><a href="#">Wichta</a></li>
                  <li><a href="#">Anchorage</a></li>
                  <li><a href="#">Miami</a></li>
                  <li><a href="#">Los Angeles</a></li>
                </ul>
              </div>
  
              <div class="col-md-3 jobListItem">
                <ul>
                  <li><a href="#">Atlanta</a></li>
                  <li><a href="#">Dallas</a></li>
                  <li><a href="#">New York</a></li>
                  <li><a href="#">Santa Ana/Anaheim</a></li>
                  <li><a href="#">Wichta</a></li>
                  <li><a href="#">Anchorage</a></li>
                  <li><a href="#">Miami</a></li>
                  <li><a href="#">Los Angeles</a></li>
                </ul>
              </div>
  
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- featured close here -->

    <!-- numbering start here -->
    <section>
      <div class="numberingOuter">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="companiesNumbering">
                <div class="numberingIc">
                  <i class="fa fa-building-o" aria-hidden="true"></i>
                </div>
                <div class="numberingHadding">
                  <h4>2200+</h4>
                  <p>COMPANIES</p>
                </div> 
              </div>  
            </div>
            <div class="col-md-3">
              <div class="companiesNumbering">
                <div class="numberingIc">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="numberingHadding">
                  <h4>400K+</h4>
                  <p>LIVE JOBS</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="companiesNumbering">
                <div class="numberingIc">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="numberingHadding">
                  <h4>3000+</h4>
                  <p>RESUME</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="companiesNumbering">
                <div class="numberingIc">
                  <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                </div>
                <div class="numberingHadding">
                  <h4>2200+</h4>
                  <p>RESOURCES</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- numbering close her -->

    <!-- Career service start here -->
    <section>
      <div class="careerService">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="careerService">
                <h2>If you hae any questions, comments or oncerns, please call Career Services at
                  (000) 555-5555</h2>
                  <div class="careerService_btn">
                    <a href="#"> <i class="fa fa-mobile" aria-hidden="true"></i> Call Now: <span>(000)555-5555</span></a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Career service close here -->

    <!-- footer start here -->
    <footer>
      <div class="footerOuter">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="footer_Leftsec">
                <ul>
                  <li><a href="#">HOME</a></li>
                  <li><a href="#">ABOUT US</a></li>
                  <li><a href="#">TEAMS AND CONDITIONS</a></li>
                  <li><a href="#">PRIVACY POLICY</a></li>
                  <li><a href="#">CONTACT US</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="footer_Rightsec">
                <p>@ 2015 jobClassified</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer close here -->
       



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="bootstrap/bootstrap.bundle.min.js"></script>

  
  </body>
</html>