{% extends 'client_base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}  
  <!--header close here  -->
  <!-- profile start here -->
  
  <div class="editProfile">
    <div class="container LandingContainer">
      <div class="editProfile_outerDiv">
        <div class="editProfile_itemDiv">
          <div class="row">
            <div class="col-md-12">
              <div class="editprofile_input">
                <div class="editBtn_outer">
                  <img src="{% static 'static2/images/edit_ic_white.svg' %}" alt="edit_icon">
                </div>
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class='alert alert-danger'> {{field.name}}{{ error }} </p>
                    {% endfor %}
                {% endfor %}
                {% endif %} 
                {% comment %} <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.user}}
                    {{form.company_logo}}
                    {{form.country_of_company}}
                    {{form.company_desc}}
                    {{form.company_short_desc}}
                    {{form.state}}
                    <div class="editProfile_btn">
                        <div class="btn_leftSide">
                          <button type="submit">Update</button>
                        </div>
                    </div>
                  </form> {% endcomment %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <div class="form_prfileHadding">
                    <h6>Profile</h6>
                  </div>
                  
                  
                  <div class="row input_edit_profile d-flex">
                    <div class="col-6 col-sm-6 col-md-6 input_editCol">
                      <label for="exampleInputEmail1" class="form-label">First Name*</label>
                      <input type="text" class="form-control" name="first_name" id="exampleInputEmail1" placeholder="John" aria-describedby="emailHelp" required> 
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 input_editCol">
                      <label for="exampleInputEmail1" class="form-label">Last Name*</label>
                      <input type="text" class="form-control" name="last_name" id="exampleInputEmail1" placeholder="Doe" aria-describedby="emailHelp" required> 
                    </div>
                  </div> 
                  <div class="row input_edit_profile d-flex">
                    <div class="col-6 col-sm-6 col-md-6 input_editCol input_selectEdit1">
                      <label for="exampleInputEmail1" class="form-label">Country*</label>
                      {% render_field form.country_of_company class="form-select" type="textarea"%}
                      {% comment %} <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>  {% endcomment %}
                      <img src="{% static 'static2/images/input_dopdownIcon.svg' %}" alt="dopdownIcon" class="dopdownIcon1">
                    </div>
                    <div class="col-md-6 input_editCol">
                        <label for="exampleInputEmail1" class="form-label">Profile Picture*</label>
                        <label class="file upload">
                          {% comment %} <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Upload a File" aria-describedby="emailHelp"> {% endcomment %}
                          {% comment %} <input type="file" id="upload" hidden/> {% endcomment %}
                          {% render_field form.company_logo type="file" class="form-control" id="company_logo" %}
                          {% comment %} <label for="upload">Choose file</label> {% endcomment %}
                          <img src="{% static 'static2/images/upload_IconFile.svg' %}" alt="Uploaad_icon" class="uploadIcon1">
                        </label> 
                      </div>
                    {% comment %} <div class="col-6 col-sm-6 col-md-6 input_editCol input_selectEdit1">
                      <label for="exampleInputEmail1" class="form-label">Category*</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select> 
                      <img src="images/input_dopdownIcon.svg" alt="dopdownIcon" class="dopdownIcon1">
                    </div> {% endcomment %}
                  </div>
                  <div class="row input_edit_profile d-flex">
                    <div class="col-md-12 input_editCol">
                      <label for="exampleInputEmail1" class="form-label">Short description*</label>
                      {% comment %} <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Give a short description" rows="3"></textarea> {% endcomment %}
                      {% render_field form.company_short_desc class="form-control" type="textarea"%}
                    </div> 
                  </div>
                  <div class="row input_edit_profile d-flex">
                    <div class="col-md-12 input_editCol">
                      <label for="exampleInputEmail1" class="form-label">Description*</label>
                      {% comment %} <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Give a short description" rows="3"></textarea> {% endcomment %}
                      {% render_field form.company_desc class="form-control" type="textarea" id="exampleFormControlTextarea1"%}
                    </div> 
                  </div>
                  <div class="editProfile_btn">
                    <div class="btn_leftSide">
                      <button type"submit" style="
                      background: #2E6CE9;
                      border: 1px solid #2E6CE9;
                      border-radius: 10px;
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 21px;
                      text-align: center;
                      color: #FFFFFF;
                      text-decoration: none;
                      padding: 14px 29px 14px 29px;
                      display: block;">Update</button>
                    </div>
                    <div class="btn_leftSide btn_rightSide">
                      <a href="#">Cancel</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}