{% extends 'base2.html' %}
{% load static %}
{% block content %}
<section class="all-jobs-section new-tabs-section">
    <div class="container LandingContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="all-pro-head">
                    <h3 class="mb-0">Work History</h3>
                </div>
                <div class="all-project-history">
                    <div class="all-project-tab-heading">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item all-project-li" role="presentation">
                                <a style="text-decoration: none;" href="{% url 'projectfreelancer' %}">
                                    <button class="nav-link " id="all-project-tab" data-bs-toggle="pill"
                                    data-bs-target="#all-project" type="button" role="tab" aria-controls="all-project"
                                    aria-selected="false">All Projects ({{all_bidings.count}})</button></a>
                                </li>
                                <li class="nav-item comp-project-li" role="presentation">
                                    <a style="text-decoration: none;" href="{% url 'completeproject' %}">
                                        <button class="nav-link" id="complete-project-tab" data-bs-toggle="pill"
                                        data-bs-target="#complete-project" type="button" role="tab" aria-controls="complete-project"
                                        aria-selected="false">Completed Projects ({{complete.count}})</button>
                                    </a>
                                </li>
                                <li class="nav-item in-pro-project-li" role="presentation">
                                    <a style="text-decoration: none;" href="{% url 'progressproject' %}">
                                        <button class="nav-link active" id="in-progress-tab" data-bs-toggle="pill" data-bs-target="#in-progress"
                                        type="button" role="tab" aria-controls="in-progress" aria-selected="true">In progress projects
                                        ({{accept.count}})</button>
                                    </a>
                                </li>
                                <li class="nav-item  pend-project-li" role="presentation">
                                    <a style="text-decoration: none;" href="{% url 'pendingproject' %}">
                                        <button class="nav-link" id="pending-tab" data-bs-toggle="pill" data-bs-target="#pending"
                                        type="button" role="tab" aria-controls="pending" aria-selected="false">Pending Approvel
                                        ({{not_accept.count}})</button>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a style="text-decoration: none;" href="{% url 'rejectproject' %}">
                                        <button class="nav-link" id="rejected-tab" data-bs-toggle="pill" data-bs-target="#rejected"
                                        type="button" role="tab" aria-controls="rejected" aria-selected="false">Rejected Projects({{not_complete.count}})</button>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="all-project-tab-content">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="all-project" role="tabpanel"
                                aria-labelledby="all-project-tab" tabindex="0">
                                
                                <div class="tab-pane" id="in-progress" role="tabpanel" aria-labelledby="in-progress-tab"
                                tabindex="0">
                                {% if accept_pagination %}
                                {% for acpt in accept_pagination %}
                                <div class="job-tab-content">
                                    <div class="all-job-des">
                                        <a style="text-decoration: none;" href="/freelancer/project/report/{{acpt.id}}">
                                        <h3>{{acpt.job.job_title}}</h3>
                                        </a>
                                        <p>{{acpt.job.full_desc|safe}}</p>
                                        <div class="all-job-dates">
                                            <div class="assg-by">
                                                <span>Assigned by </span>
                                                <span class="span-content"> {{acpt.bidder.user}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="all-job-price">
                                        <h5>{{acpt.bid_amount}}</h5>
                                        <span class="job-approved"><a style="text-decoration: none;" href="/freelancer/project/report/{{acpt.id}}">{{acpt.job.seller.user}} </a></span>
                                        {% comment %} <span class="span-content"> {{acpt.bidder.user}}</span> {% endcomment %}
                                        {% comment %} In Progress {% endcomment %}
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                
                                <div class="job-tab-content client_jobs">
                                    <div class="all-job-des">
                                        <h3>There is no completed project</h3>
                                    </div>
                                </div>
                                {% endif %}
                                {% if accept_pagination %}
                                <div>
                                    <span>
                                        {% if accept_pagination.has_previous %}
                                        <a href="?page3={{ accept_pagination.previous_page_number }}">Previous</a>
                                        {% endif %}
                                        <span>
                                            Page {{ accept_pagination.number }} of {{ accept_pagination.paginator.num_pages }}.
                                        </span>
                                        {% if accept_pagination.has_next %}
                                        <a href="?page3={{ accept_pagination.next_page_number }}"class="btn-skin ">Next</a>
                                        {% endif %}
                                    </span>
                                </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}